<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MyResidencyList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" type="image/png" href="/paper-dashboard-master/assets/img/favicon.png">

    <!-- CSS Files -->
    <link href="/paper-dashboard-master/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />

    <%= render 'layouts/header' %>
  </head>

  <body>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent">
        <div class="container">
          <div class="navbar-wrapper">
            <div class="logo text-center">
              <%= link_to root_path do %>
                <%= image_tag('logo_header.png', width: 250) %>
              <% end %>
            </div>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to 'http://blog.myresidencylist.com', class: 'nav-link', target: '_blank' do %>
                  <i class="nc-icon nc-single-copy-04"></i> Blog
                <% end %>

              </li>
              <li class="nav-item ">
                <a href="/#faq" class="nav-link">
                  <i class="nc-icon nc-alert-circle-i"></i>
                  FAQ
                </a>
              </li>
              <li class="nav-item">
                <a href="/#contact" class="nav-link">
                  <i class="nc-icon nc-email-85"></i>
                  Contact Us
                </a>
              </li>
              <li class="nav-item ">
                <%= link_to new_user_session_path, class: 'nav-link' do %>
                  <i class="nc-icon nc-lock-circle-open"></i>
                  Log In
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="col-md-4 mx-auto">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>

      <%= yield %>

      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <div class="credits ml-auto">
                <span class="copyright">
                  <%= t(:copyright, year: Date.today.year, scope: :footer) %>
                </span>
            </div>
          </div>
        </div>
      </footer>
  </body>
</html>